.App {

  height: 100%;
  width: 100%;
  
}
.App-wrapper{
  display: flex;
  height: 100%;
  width: 100%;
}
.Right-Layout{
  width: 70%;
  background-color:lightgray;
}


.leftSidebar{
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 300px;
  line-height: 1cm;
  flex-direction: column;
  background-color: red;
  height: 100%;
}

